node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local Tauri target created by an isolated packaging run
/src-tauri/src-tauri/
/playwright/.auth/
